$font-stack: Helvetica, sans-serif;

.page {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: minmax(1fr, 500px);
  margin: 2em;
}


.featurelist {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(1fr, 100px);
  font-family: $font-stack;

  h2 {
    margin: 0;
  }
}

.feature {
  padding: 1em;
  list-style-type: none;
}

.present {
  border: 1px green solid
}
.not-present {
  border: 1px red solid
}

.header {
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: auto;
    display: flex;
    min-height: 30px;
    background-color: #1b1c1d;
    display: flex;
    margin: 0;
    position: fixed;
}
